{% extends "base.html" %}

{% block extrastyle %}
<style>
    .create-list-form {
        width: 40%;
        padding: 25px 35px;
        border-radius: 10px;
        background-color: white;
    }
</style>
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
    <div class="d-flex flex-column create-list-form">
        <h3 style="text-align:center;">Create Campaign</h3>
        {% if errors %}
        <p style="color: red">{{errors}}</p>
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data">
            <div id="list-form" class="d-flex flex-column mb-5">
                {% csrf_token %}
                {% for field in form %}
                <label>{{field.label}}</label>
                {{ field }}
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

