{% extends "base.html" %}
{% load static %}
{% block extrastyle %}
<style>
    .box-header {
        display: flex;
        align-items: center;
    }

    .addBtn {
        font-size: 30px;
    }
</style>
{% endblock %}
{% block content %}
<div style="padding: 10px; background-color: white" class="box">
    <div class="box-header">
        <h3 style="margin: 0">Campaigns</h3>
        <a class="addBtn" href="/create_campaign">+</a>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th>Title</th>
                <th>List</th>
                <th>Message</th>
                <th>Send message</th>
                <th>Delete</th>
            </tr>
            {% for campaign in campaigns %}
            <tr style="cursor: pointer">
                <td>{{campaign.title}}</td>
                <td>{{campaign.list}}</td>
                <td><a href="/view_message/{{campaign.message.id}}/">{{campaign.message}}</a></td>
                <td><button onclick="location.href='/send_msg/{{campaign.id}}'" type="button" class="btn btn-primary">Send</button></td>
                <td><a href="/delete_campaign/{{campaign.id}}/"><img width="32px" src="{% static "icons/trash.svg" %}" alt="Trash"></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

